#navbarLinksPc a{
    position: relative;
    padding: 0;
    margin: 5px;
}

#navbarLinksMobile a{
    margin: 2px 0 2px 0;
    border: 1px solid transparent;
}
#navbarLinksMobile a.active{
  color: #ff0400;
  background-color: transparent;
  border: 1px solid #ff0400;
}

#navbarLinksMobile a:hover{
  color: #ff0400;
  background-color: transparent;
  border: 1px dashed #ff0400;
}

#navbarLinksPc a:hover{
    background-color: transparent;
    color: #ff0400;
}

#navbarLinksPc a.active{
    color: #ff0400;
    background-color: transparent;
}

#navbarLinksPc a.active::after{
    width: 50%;
    height: 1px;
    background-color: red;
    bottom: 0;
    left: 0;
    position: absolute;
    content: '';
}

#navbarLinksPc a.active::before{
    width: 30%;
    height: 1px;
    background-color: red;
    bottom: -3px;
    left: 0;
    position: absolute;
    content: '';
}
